<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <h3>
        Data retrieved by Other team member service - Country Service - Canada
      </h3>
      <h6> http://worldinformationapienv.eba-zcmupdkn.us-east-1.elasticbeanstalk.com/country-info?country=Canada </h6>
      
      <div class="col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <div>
              Country - Canada
            </div>
            <br/>
            <div>
            <ul>
                <li>area:9984670.0</li>
                <li>capital:Ottawa</li>
                <li>name:Canada</li>
                <li>region:America</li>
                <li>subregion:North America</li>
            </ul>
          </div>
          </div>
        </div>

    </div>
    
</div>
